<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clinic</title>
</head>

<body>
    <h1 style="padding-bottom: 5px;">home page</h1>

    <form th:action="@{/animal-owner/search}" method="post">
        <div>
            <label for="phone">Animal Owner</label>
            <input id="phone" type="text" name="phone">
            <input type="submit" th:value="Search">
        </div>
    </form>

    <div style="margin: 25px 0">
        <a href="/animal-owner/create" class="">Create AnimalOwner</a>
    </div>
</body>
</html>